= form_for(@map_item) do |f|
  - if @map_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@map_item.errors.count, "error")
        prohibited this map_item from being saved:
      %ul
        - @map_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :x
    %br/
    = f.text_field :x
  .field
    = f.label :y
    %br/
    = f.text_field :y
  .field
    = f.label :map_chip_id
    %br/
    = f.collection_select :map_chip_id, MapChip.all, :id, :name

  .actions
    = f.submit
