<h1>Listing map_chips</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @map_chips.each do |map_chip| %>
      <tr>
        <td><%= map_chip.name %></td>
        <td><%= link_to 'Show', map_chip %></td>
        <td><%= link_to 'Edit', edit_map_chip_path(map_chip) %></td>
        <td><%= link_to 'Destroy', map_chip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map chip', new_map_chip_path %>
